---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a self-taught and dedicated person who is eternally curious, enthusiastic, and passionate about artificial intelligence, always looking for new challenges, studying, and working on personal projects to improve and acquire new skills. I am interested in Machine Learning, Deep Learning, Python, Natural Language Processing, Signal Processing, Algorithms, and MLOps.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Business Administration (MBA) in Artificial Intelligence and Big Data @ University of São Paulo (USP)"
      subtitle="July 2022 - October 2023 | São Carlos, Brazil"
    >
    - The MBA covers the most diverse topics within the area of artificial intelligence and big data, such as: Python, R, statistics, SQL, Machine Learning, Deep Learning, Data Mining and Visualization, Data Governance and Management, Big Data, Natural Language Processing and Data Analysis. <br><br>
    - The theme of my end-of-course work was "Speech Emotion Recognition using Deep Learning and Wavelet Transform" and was done under the supervision of Dr. Prof. Alessandra Alaniz Macedo.
    </TimeLineElement>
    
    <TimeLineElement
      title="Bachelor in Computer Science @ Federal University of Itajubá (UNIFEI)"
      subtitle="January 2018 - December 2021 | Itajubá, Brazil"
    >

    - Fellow in front-end development of a unified medical data management platform for the city of Itajubá and the state region (August/2020 - January/2021). <br>
    - Participated in programming competitions at college and state region representing UNIFEI (October/2018 - February/2019). <br>
    - Worked at byron.solutions, a junior technology and information company located inside UNIFEI, as a WordPress web developer (April/2018 - October/2018). <br><br>
    
    The theme of my final graduation work was "Comparison of deep learning models in the classification of comments containing hate speech on the Internet" and it was done under the supervision of Dr. Prof. Isabela Neves Drummond.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Junior Machine Learning Researcher @ CPQD"
      subtitle="April 2022 - Present | Campinas, Brazil · Remote"
    >
    - Refinement of the voice activity detection model by more than 10% accuracy, improving the quality of the company's speech recognition product. <br>
    - Development of new machine learning and deep learning models for the tasks of classifying sound events, classifying sleep stages using data collected from electronic bacelets, sentiment analysis and classification of topics in texts, non-supervised clustering for diagnosing the health of vehicle engines using temporal data, classification and quality monitoring of dental prostheses in an Industry 4.0 scenario. <br>
    - The models were put into production using Docker and Flask, except for the sound event classification model, written in C and embedded directly in hardware. <br><br>

    </TimeLineElement>

    <TimeLineElement
      title="Junior Data Scientist @ SMARKIO (a D1 company)"
      subtitle="March 2021 - March 2022 | Itajubá, Brazil · Remote"
    >
    - Development of new machine learning models for clustering tasks, sentiment analysis, and classification of text message topics. <br>
    - Enhancement of the algorithm for recommending the best communication channel, leveraging the response rate and customer engagement by more than 15%. <br>
    - Refinement of the data acquisition and pre-processing stage, improving data quality, and reducing processing time by more than 6 times. <br>
    - Development of new tools and technical product reports for the curation team, improving the quality of customer chatbots.

    </TimeLineElement>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"> Selected Certifications </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://drive.google.com/file/d/1XM-ILzTsngDyI2ltAV14XFi2XRdO4lXd/view" target="_blank"> MLflow in Action - Master the art of MLOps using MLflow tool (July, 2024) </a>
    </li>
    <li>
      <a href="https://coursera.org/share/0848c0e6c320f5f4e4079a53b52c7b5b" target="_blank"> Machine Learning Specialization (Jun, 2024) </a>
    </li>
    <li>
      <a href="https://certs.duolingo.com/07eb5fc193345b9eba9bc53758f60aec" target="_blank"> Duolingo English Proficiency Certificate (Jan, 2024) </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1KNMXulKCMUMU4SCyaMtuBDN_xlKQwmh1/view" target="_blank"> Mathematics for Machine Learning: Linear Algebra (Feb, 2023) </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1CcDy7DqcJ1M983R0ubVMfyS4Nu8vlgIz/view" target="_blank"> Version Control with Git (Feb, 2023) </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1pGMPqR48A48061es4kCIpcUUlrZNzUUG/view" target="_blank"> Machine Learning Engineering for Production Specialization (Jan, 2023) </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1iBIv9jJO38mq0clHuO6ypYE-z5aKD_EJ/view" target="_blank"> PyTorch for Deep Learning and Computer Vision (Dec, 2022) </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc columns-1 mx-6">
    <li><b>Languages</b>: Portuguese (Native), English (Advanced, 130/160 overall score on the Duolingo English Test).</li>
    <li><b>Hard Skills</b>: Python, C, C++, SQL, MySQL, Machine Learning, Deep Learning, BeautifulSoup, Selenium, Keras, PyTorch, Flask, FastAPI, Streamlit, Docker, Git, Matplotlib, Plotly, Seaborn, Pandas, Numpy, Scikit-Learn, PyTest, Unittest.</li>
    <li><b>Soft Skills</b>: teamwork, communication, critical thinking, problem-solving, leadership, time management, adaptability, and discipline.</li>
  </ul>
</BaseLayout>
