---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Italian-Brazilian citizen interested in Machine Learning, Deep Learning, Signal Processing, Natural Language Processing, Computer vision, MLOps, and applications in mental health. Currently studying MLOps, Machine Learning, Deep Learning, and PyTorch. Interested in opportunities to work as a Machine Learning Engineering or Machine Learning Researcher.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Business Administration (MBA) in Artificial Intelligence and Big Data"
      subtitle="July 2022 to October 2023 at University of São Paulo (USP), São Carlos, Brazil"
    >
    The MBA covers the most diverse topics within the area of artificial intelligence and big data, such as: Python, R, statistics, SQL, Machine Learning, Deep Learning, data mining and visualization, data governance and management, Big Data, Natural Language Processing and data analysis. <br><br>

    The theme of my end-of-course work was "Speech Emotion Recognition using Deep Learning and Wavelet Transform" and was done under the supervision of Dr. Prof. Alessandra Alaniz Macedo.
    </TimeLineElement>
    
    <TimeLineElement
      title="Bachelor in Computer Science"
      subtitle="January 2018 to December 2021 at Federal University of Itajubá (UNIFEI), Itajubá, Brazil"
    >

    - Participated in programming competitions at college and state region representing UNIFEI (October/2018 - February/2019). <br>
    - Worked at byron.solutions, a junior technology and information company located inside UNIFEI, as a WordPress web developer (April/2018 - October/2018). <br>
    - Fellow in front-end development of a unified medical data management platform for the city of Itajubá and the state region (August/2020 - January/2021). <br><br>

    The theme of my final graduation work was "Comparison of deep learning models in the classification of comments containing hate speech on the Internet" and it was done under the supervision of Dr. Prof. Isabela Neves Drummond.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Machine Learning Researcher"
      subtitle="From April 2022 to Present at CPQD, Campinas (Remote), Brazil"
    >
    - Development of an algorithm for Voice Activity Detection using Deep Learning with PyTorch. <br>
    - Development of an algorithm for Sound Event Classification using Machine Learning techniques. In addition, the developed model was embedded in hardware using the C programming language and before that was put into production using Docker and Streamlit. <br>
    - Helped develop an algorithm for classifying sleep stages using Machine Learning techniques. <br>
    - Development of an algorithm for Sentiment Analysis using a combination of Machine Learning and Deep Learning techniques with Keras. In addition, the developed model was put into production using Docker and Flask. <br>
    - Development of a rule-based algorithm for maneuver tracking and validation. In addition, the developed model was put into production using Docker and Flask. <br>
    - Development of an unsupervised clustering algorithm for monitoring the vehicle's motor health. In addition, the developed model was put into production using Docker and Flask. <br>
    - Development of a supervised machine learning model for monitoring the quality of dental prostheses for an Industry 4.0 scenario. In addition, the developed model was put into production using Docker and Flask.
    </TimeLineElement>

    <TimeLineElement
      title="Data Scientist"
      subtitle="From March 2021 to March 2022 at SMARKIO | D1, Itajubá (Remote), Brazil"
    >
    - Development of an algorithm for text clustering using Machine Learning. <br>
    - Development of an algorithm for sentiment analysis in texts using Machine Learning and statistical algorithms (VADER, TextBlob, etc...). <br>
    - Development of an algorithm for clustering topics in texts using Machine Learning. <br>
    - Development of an algorithm for detecting the best communication channels for customers using statistics and Machine Learning. <br>
    - Development of algorithms for the data preprocessing and visualization stage. <br>
    </TimeLineElement>

    <TimeLineElement
      title="Intern Python Developer"
      subtitle="From January 2021 to March 2021 at B2ML, Itajubá (Remote), Brazil"
    >
    Updating and maintenance of a web platform aimed at reconciling company receivables.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"> Selected Certifications </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://certs.duolingo.com/07eb5fc193345b9eba9bc53758f60aec" target="_blank"> Duolingo English Proficiency Certificate  </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1exSFphgRn262h-Qiv2yUaKASf_k-pphu/view?usp=drive_link" target="_blank"> The Data Science Course 2023: Complete Data Science Bootcamp </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1iBIv9jJO38mq0clHuO6ypYE-z5aKD_EJ/view" target="_blank"> PyTorch for Deep Learning and Computer Vision </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1KNMXulKCMUMU4SCyaMtuBDN_xlKQwmh1/view" target="_blank"> Mathematics for Machine Learning: Linear Algebra </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1CcDy7DqcJ1M983R0ubVMfyS4Nu8vlgIz/view" target="_blank"> Version Control with Git </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1pGMPqR48A48061es4kCIpcUUlrZNzUUG/view" target="_blank"> Machine Learning Engineering for Production (MLOps) Specialization </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc columns-1 mx-6">
    <li>Languages: Portuguese, English</li>
    <li>Programming Languages: C, C++, Python</li>
    <li>Databases: SQL, MySQL</li>
    <li>Web Scraping: BeautifulSoup, Selenium</li>
    <li>Frameworks/libraries: Keras, PyTorch, Scikit-Learn, Pandas</li>
    <li>DevOps tools: Git, Docker, Docker Composer</li>
    <li>Data Visualization: Matplotlib, Plotly, Seaborn</li>
  </ul>
</BaseLayout>
