---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">  
  I am a self-taught, hardworking person who is constantly interested in learning new things.
  I am also excited, enthusiastic, and passionate about Artificial Intelligence, constantly seeking out new challenges, keeping up with the latest advancements in the field, and working on personal projects to develop new abilities.
  Natural Language Processing, Python, MLOps, Deep Learning, and Machine Learning are among the topics that pique my interest.
  Also, I'm interested in working as a Machine Learning Engineer, Artificial Intelligence Engineer, or Data Scientist.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul  class="list-disc mx-6 mb-10 grid gap-2">
    <li><b>Languages</b>: Portuguese (Native), English (Advanced) </li>
    <li><b>Programming Languages</b>: Python, C </li>
    <li><b>Databases</b>: PostgreSQL, MySQL </li>
    <li><b>Machine Learning</b>: Pandas, Scikit-learn, Numpy, CatBoost, XGBoost, LightGBM, Keras, PyTorch, Tensorflow, NLTK, Spacy, RegEx, Gensim, Transformers, Scipy </li>
    <li><b>MLOps</b>: FastAPI, Streamlit, Flask, PyTest, Unittest, Docker, MLflow, AWS, Git, Requests, GitHub Actions, CI/CD </li>
    <li><b>Data Visualization</b>: Seaborn, Matplotlib, Plotly </li>
    <li><b>Data Scraper</b>: BeautifulSoup4, Selenium </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Work Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Junior Machine Learning Researcher @ CPQD"
      subtitle="April 2022 - Present | Campinas, Brazil · Remote"
    >
    - By utilizing a Deep Learning model, the voice activity detection model was improved by over 20% in accuracy and reduced the positive rate by 12%, thereby enhancing the quality of the company's speech recognition product. <br>
    - Development of new models using Machine Learning and Deep Learning algorithms in conjunction with Signal Processing, Natural Language Processing, and temporal data techniques for the classification of dental prosthesis quality tasks, sentiment analysis and text classification, non-supervised clustering for the diagnosis of vehicle engine health, and classification of sleep stages. <br>
    - Implemented the C-based solution for the sound event classification task directly into an Arduino hardware to obtain near-real-time responses. Docker, Flask, and Python were used to deploy the other models in production. <br>
    - Writing of documentations, patents, software registration, and papers of the developed models. <br>
    - Contributed to the enhancement of the company's machine learning platform by using it to deploy, test, and debug the developed models, provide feedback, and suggest new features. <br>
    </TimeLineElement>

    <TimeLineElement
      title="Junior Data Scientist @ SMARKIO (a D1 company)"
      subtitle="March 2021 - March 2022 | Itajubá, Brazil · Remote"
    >
    - Development of new models utilizing Machine Learning, Deep Learning, and Natural Language Processing techniques for sentiment analysis, clustering tasks, and topic classification in text messages. <br>
    - Enhancing processing speed and memory by more than four times through the refinement of the data acquisition and preprocessing stage through the use of multiprocessing and simpler function design. <br>
    - Improvement of the company’s best communication channel recommendation algorithm by employing a statistical, rule-based method-only approach, leveraging the response rate and customer engagement by more than 15%. <br>
    - Development of technical product reports for the curation team with the goal of creating new tools to enhance the quality and assertiveness of the customers' chatbot. <br>
    </TimeLineElement>

    <TimeLineElement
      title="Intern Python Developer @ B2ML"
      subtitle="January 2021 - March 2021 | Itajubá, Brazil · Remote"
    >
    - Update and maintenance of a web platform aimed at reconciling company receivables by creating use cases for new clients and improving already existing ones. <br>
    </TimeLineElement>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Business Administration (MBA) in Artificial Intelligence and Big Data @ University of São Paulo (USP)"
      subtitle="July 2022 - October 2023 | São Carlos, Brazil"
    >
    The MBA covers the most diverse topics within the area of artificial intelligence and big data, such as: Python, R, statistics, SQL, Machine Learning, Deep Learning, Data Mining and Visualization, Data Governance and Management, Big Data, Natural Language Processing and Data Analysis. <br><br>
    The theme of my end-of-course work was "Speech Emotion Recognition using Deep Learning and Wavelet Transform" and was done under the supervision of Dr. Prof. Alessandra Alaniz Macedo. <br>
    </TimeLineElement>
    
    <TimeLineElement
      title="Bachelor in Computer Science @ Federal University of Itajubá (UNIFEI)"
      subtitle="January 2018 - December 2021 | Itajubá, Brazil"
    >

    - Fellow in front-end development of a unified medical data management platform for the city of Itajubá and the state region (August/2020 - January/2021). <br>
    - Participated in programming competitions at college and state region representing UNIFEI (October/2018 - February/2019). <br>
    - Worked at byron.solutions, a junior technology and information company located inside UNIFEI, as a WordPress web developer (April/2018 - October/2018). <br><br>
    The theme of my final graduation work was "Comparison of deep learning models in the classification of comments containing hate speech on the Internet" and it was done under the supervision of Dr. Prof. Isabela Neves Drummond. <br>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"> Selected Certifications </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://drive.google.com/file/d/1MxeEcQzWox8wsl1-S5CaLxKy5HfbttXy/view" target="_blank" rel="noopener noreferrer"> AWS Cloud Technical Essentials (Oct, 2024) </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1n_ivHkvh27D-DtlI7Cl5X4XgHhf2t8Mn/view" target="_blank" rel="noopener noreferrer"> Deployment of Machine Learning Models (Aug, 2024) </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1XM-ILzTsngDyI2ltAV14XFi2XRdO4lXd/view" target="_blank" rel="noopener noreferrer"> MLflow in Action - Master the art of MLOps using MLflow tool (Jul, 2024) </a>
    </li>
    <li>
      <a href="https://coursera.org/share/0848c0e6c320f5f4e4079a53b52c7b5b" target="_blank" rel="noopener noreferrer"> Machine Learning Specialization (Jun, 2024) </a>
    </li>
    <li>
      <a href="https://certs.duolingo.com/07eb5fc193345b9eba9bc53758f60aec" target="_blank" rel="noopener noreferrer"> Duolingo English Proficiency Certificate (Jan, 2024) </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1KNMXulKCMUMU4SCyaMtuBDN_xlKQwmh1/view" target="_blank" rel="noopener noreferrer"> Mathematics for Machine Learning: Linear Algebra (Feb, 2023) </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1CcDy7DqcJ1M983R0ubVMfyS4Nu8vlgIz/view" target="_blank" rel="noopener noreferrer"> Version Control with Git (Feb, 2023) </a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1pGMPqR48A48061es4kCIpcUUlrZNzUUG/view" target="_blank" rel="noopener noreferrer"> Machine Learning Engineering for Production Specialization (Jan, 2023) </a>
    </li>
  </ul>

</BaseLayout>
